{% extends 'user.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/form.css" type="text/css"/>
{% endblock %}

{% block content_header %}<h3>Panel Admina</h3>{% endblock %}
{% block content %}
    {% block userpanel %}{% endblock %}
    ADMINPAGE
{% endblock %}