<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GamersPlace - Twoje miejsce dla graczy{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="css/style.css" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
                    <div id="logo">
                    </div>
                    <div id="menubar">
                        <ul class="menu">
                            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                            <li class=""><a href="/">Strona Główna</a></li>
                            <li class=""><a href="/news">News</a></li>
                            <li class=""><a href="page.html">A Page</a></li>
                            <li class=""><a href="another_page.html">Another Page</a></li>
                            <li class=""><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <ul class="menu" id="menu_login">
                            <li><a href="/login">Zaloguj</a></li>
                            <li><a href="/register">Zarejestruj</a></li>
                        </ul>
                    </div>
                </div>
                <div id="site_content">
                    <div id="sidebar_container">
                        <div class="sidebar">
                            <div class="sidebar_top">
                                <h3>Latest News</h3>
                            </div>
                            <div class="sidebar_item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="sidebar">
                            <div class="sidebar_top">
                                <h3>Ankieta</h3>
                            </div>
                            <div class="sidebar_item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                    </div>
                    <div id="content_container">
                        <div id="content_header">{% block content_header %}{% endblock %}</div>
                        <div id="content">
                            {% block content %}
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.</p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div id="footer">
                    <div id="footer_content">
                    <p><a href="/">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
                    <p>Copyright &copy; GamePlace 2018</p>
                    </div>
                </div>
        {% endblock %}
    </body>
</html>